{% extends 'core/home.html' %}
{% load static %}

{% block title %}
    School mission and vision
{% endblock title %}

{% block home_tag %}
    <a href="{% url 'core:home' %}"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
{% endblock home_tag %}

{% block visual %}
{% endblock %}

{% block content %}
    <div class="mission-vision">
        <h2>Refiners Schools Mission, Vision and Values</h2>
        <span>
            <p>
                Our Motto: Perfecting God's Will
            </p>
        </span>
    </div>
    <div class="mission-vision">
        <h3>
            SCHOOL MISSION
        </h3>
        <span>
            <p>
                Our Mission is to nurture and foster with high moral values, discipline, 
                and sound mind for learning in a conducive and enabling environment through creative and challenging learning experiences.
            </p>
        </span>
    </div>
    <div class="mission-vision">
        <h3>
            SCHOOL VISION
        </h3>
        <span>
            <p>
                Our vision is to perfect the will of God in young stars by refining, nurturing, and moulding them for 
                eminence and excellence in purity with the fear of God, as well as offering a robust, and moral education acceptable 
                nationally and globally to the benefit of the society and mankind.
            </p>
        </span>
        <span>
            <p>
                To accomplish our vision, we endeavor to:
            </p>
            <ul>
                <li>Embrace our responsibilities as individuals.</li>
                <li>Collaborate with parents and other stakeholders.</li>
                <li>Demonstrate the highest standards.</li>
                <li>Promote Tolerance, respect, trust, honesty and hard work.</li>
                <li>Strategize progress and Celebrate success.</li>
                <li>Recognise positive contributions.</li>
            </ul>
        </span>
    </div>
    <div class="mission-vision">
        <h3>
            SCHOOL CREED
        </h3>
        <span>
            <p>I am a unique and intelligent Refiners Scholar</p>
            <p>I am responsible, respectful and a creative thinker</p>
            <p>Being refined for excellence</p>
            <p>I am an ambassador of Refiners and an agent of change,</p>
            <p>An instrument of influence</p>
            <p>I am always ready for each school day</p>
            <p>I will strive to be the best I can be</p>
            <p>So, help me God</p>
            <p>To walk in your perfect will</p>
        </span>
    </div>
    <div class="mission-vision">
        <h3>
            CORE VALUES
        </h3>
        <span>
            <ul>
                <li>Respect</li>
                <li>Excellence</li>
                <li>Faith</li>
                <li>Integrity</li>
                <li>Nobility</li>
                <li>Equity</li>
                <li>Reliability</li>
                <li>Service to others</li>
            </ul>
        </span>
    </div>
{% endblock %}