{% extends 'core/home.html' %}
{% block title %}
    Resources
{% endblock title %}

{% block visual %}
{% endblock %}

{% block content_title %}
RESOURCES
{% endblock content_title %}

{% block content %}
    <div class="resources-tag">Still undergoing maintenance, will be available ASAP...</div>
{% endblock content %}

{% block home_tag %}
    <div class="home_tag">
        <a href="{% url 'core:home' %}"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
    </div>
{% endblock home_tag %}
